html, body {
  height: 100%;
}

/* #first-box {
  height: 300px;
  width: 50%;
  box-sizing: border-box;
} */

.box {
  display: inline-block;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 20px;
  margin-top: 22px;
  margin-right: 2px;
  margin-bottom: 44px;
  margin-left: 52px;
  border: 3px solid red;
  height: 300px;
  width: 48%;
  box-sizing: border-box;
  margin: 0;
}

#first-box {
  display: none;
}

div:last-of-type:hover {
  background-color: pink;
}